:root {
    --lighter-text: #c5c6c7;
    --text-color: white;
    --light-blue: #66fcf1;
    --dark-blue: #181a23;
    --lighter-blue: #1f2833;
    --blue: #45a29e;
}

* {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    margin: 0;
    padding: 0;
}
  
*::before {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
  
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
  
html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
  
body {
    overflow-x: hidden;
    background: var(--dark-blue);
}

/* HEADER */
header {
    background: var(--dark-blue);
    background-size: cover;
    min-height: 100vh;
}
  
header nav {
    z-index: 100;
    width: 100%;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 30px;
    -ms-flex-pack: distribute;
        justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 6vh;
    -webkit-animation: nav-links 0.5s;
            animation: nav-links 0.5s;
}
  
header nav .logo {
    color: var(--text-color);
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

header nav .logo a {
    color: var(--text-color);
    text-decoration: none;
}
  
header nav .logo span {
    color: var(--light-blue);
}
  
header nav .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 50rem;
    max-width: 70%;
    min-width: 30%;
    z-index: 1000;
}
  
header nav .links li {
    list-style: none;
}
  
header nav .links a {
    color: var(--text-color);
    text-decoration: none;
    letter-spacing: 2px;
}
  
header nav .links .link::after {
    content: "";
    position: relative;
    display: block;
    width: 0;
    height: 4px;
    background: var(--light-blue);
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
}
  
header nav .links .link:hover::after {
    width: 100%;
}
  
header nav .hamburger-menu {
    display: none;
    cursor: pointer;
}
  
header nav .hamburger-menu div {
    background-color: var(--light-blue);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 25px;
    height: 3px;
    margin: 5px;
}

/* HERO */
header .hero {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
  
header .hero h1,
header .hero p {
    color: var(--text-color);
}
  
header .hero h1 {
    white-space: nowrap;
    text-align: center;
    font-size: calc(1.2rem + 3.2vw);
}
  
header .hero h1 span {
    color: var(--light-blue);
}
  
header .hero p {
    color: var(--lighter-text);
    line-height: 1.6;
    font-size: calc(14px + 0.5vw);
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 0.5rem;
}

header .hero .hero-btn {
    white-space: nowrap;
    text-align: center;
}
  
header .hero .hero-btn a {
    margin: 1rem 0.5rem;
    display: inline-block;
    text-decoration: none;
    padding: 10px 32px;
    border-radius: 25px;
    font-size: 1rem;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-weight: lighter;
    letter-spacing: 1px;
}
  
header .hero .hero-btn .about {
    color: var(--text-color);
    border: 2px solid var(--blue);
}
  
header .hero .hero-btn .about:hover {
    background: var(--blue);
    -webkit-box-shadow: 0 0 0 2px #66fcf2;
            box-shadow: 0 0 0 2px #66fcf2;
    color: #fff;
}

/* for sticky navbar */
#home .fixed {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--lighter-blue);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
            box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
} 
  
#home .fixed .links .link::after {
    background: var(--light-blue);
}

/* ABOUT */
#about {
    background: var(--lighter-blue);
}
  
#about .container-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
  
#about .container-about .about-me {
    width: 60%;
    padding-bottom: 3rem;
}
  
#about .container-about .about-me h2 {
    font-size: 2.5rem;
    position: relative;
    color: var(--text-color);
    letter-spacing: 2px;
    padding-top: 5rem;
    width: 66%;
    margin: 0 auto;
}
  
#about .container-about .about-me h2 span {
    color: var(--light-blue);
}
  
#about .container-about .about-me h2::after {
    content: "";
    position: absolute;
    top: 82%;
    margin-left: 1rem;
    width: 35%;
    height: 3px;
    background: var(--light-blue);
}
  
#about .container-about .about-me p {
    font-size: 1rem;
    margin: 0 auto;
    padding: 2rem 0 0.8rem 0;
    max-width: 67%;
    color: #e0e0e0;
    font-weight: lighter;
    line-height: 1.7;
    text-align: justify;
}

#about .container-about .about-me p span {
    color: var(--light-blue)
}

#about .container-about .right-about {
    display: flex;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 2rem;
    gap: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


#about .container-about .right-about .student-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
  
#about .container-about .right-about .student-img img {
    display: flex;
    border-radius: 12px;
    box-shadow: 15px 15px var(--light-blue);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

#about .container-about .right-about .student-img img:hover {
    display: flex;
    border-radius: 12px;
    box-shadow: 25px 25px var(--light-blue);
}

#about .container-about .right-about .resume-btn {
    white-space: nowrap;
    text-align: center;
}
  
#about .container-about .right-about .resume-btn a {
    margin: 1rem 0.5rem;
    display: inline-block;
    text-decoration: none;
    padding: 10px 32px;
    border-radius: 25px;
    font-size: 0.9rem;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-weight: lighter;
    letter-spacing: 1px;
}
  
#about .container-about .right-about .resume-btn .view-resume {
    color: var(--text-color);
    border: 2px solid var(--blue);
}
  
#about .container-about .right-about .resume-btn .view-resume:hover {
    background: var(--blue);
    -webkit-box-shadow: 0 0 0 2px #66fcf2;
            box-shadow: 0 0 0 2px #66fcf2;
    color: #fff;
}

#projects {
    padding: 5rem 0;
}

#projects .header h2 {
    font-size: 2.5rem;
    position: relative;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 2px;
    width: 80%;
    margin: 0 auto 1rem auto;
}

#projects .header h2 span {
  color: var(--light-blue);
}

#projects .header h2::after {
  content: "";
  position: absolute;
  margin-left: 1rem;
  top: 50%;
  width: 20%;
  height: 3px;
  background: var(--light-blue);
}

/* FEATURED PROJECTS */
.container-projects {
  padding-top: 50px;
}

.project {
  margin: 0 auto 150px;
  padding: 20px;
  max-width: 1100px;
  position: relative;
  align-items: center;

  @media (min-width: 500px) {
    margin: 0 auto 120px;
  }
}

.project-img-container {
  position: relative;
  display: flex;
}

.right-align {
  justify-content: end;
}

.left-align {
  justify-content: start;
}

.project-preview {
  width: 100%;
  max-width: 600px;
  height: auto;
  padding: 0;
  margin: 0;
}

.project-img {
  position: relative;
  opacity: 90%;
  left: 0;
  z-index: 0;
  border-radius: 10px;
}

.project-details {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 40px;
  z-index: 3;
  color: var(--text-color);
  width: 50%;
  max-width: 600px;
  margin: 0;
  border-radius: 10px;
}

.left-details {
  right: 20px;
  text-align: right;
}

.details-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-details .details-container .details-text .language {
  color: var(--light-blue);
}

.featured {
  color: var(--light-blue);
  font-weight: lighter;
}

.project-title {
  font-size: 2rem;
}

.project-description {
  font-size: 1.1rem;
  margin-top: 12px;
  background-color: var(--lighter-blue);
  color: var(--lighter-text);
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 12px;
}

.details-buttons {
  white-space: nowrap;
}

.details-buttons a {
  margin: 1rem 0rem;
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.details-buttons .project-button {
  color: var(--text-color);
  margin-right: 1rem;
}

.details-buttons .project-button:hover {
  color: var(--light-blue);
  transform: scale(1.1);
}

/* OTHER PROJECTS */
#projects .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75%;
  margin: auto;
}

#projects .container .card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20rem;
      grid-template-columns: 20rem;
  -ms-grid-rows: 13rem 13rem 4rem;
      grid-template-rows: 13rem 13rem 4rem;
      grid-template-areas: "image" "desc" "buttons";
  border-radius: 19px;
  background: var(--lighter-blue);
  text-align: center;
  margin: 2rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#projects .container .card:hover {
  transform: translateY(-2%);
}

#projects .container .card .card-img {
  -ms-grid-rows: 1;
  -ms-grid-columns: 1;
  grid-area: image;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-size: cover;
}

#projects .container .card .card-text {
  -ms-grid-rows: 2;
  -ms-grid-columns: 1;
  grid-area: desc;
  padding: 1.5rem;
}

#projects .container .card .card-text h2 {
  padding: 0.5rem 0 1rem 0;
  color: var(--text-color);
}

#projects .container .card .card-text .tech {
  color: var(--light-blue);
  line-height: 1.6;
  font-size: 0.9rem;
}

#projects .container .card .card-text .description {
  color: var(--lighter-text);
  line-height: 1.6;
  font-size: 0.9rem;
  margin-bottom: 15px;
}

#projects .container .card .card-buttons {
  -ms-grid-rows: 3;
  -ms-grid-columns: 1;
  grid-area: buttons;
}

#projects .container .card .card-buttons a {
  margin-left: 0.5rem;
  text-decoration: none;
  padding: 8px 24px;
  outline: none;
  border: none;
  color: var(--text-color);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  display: inline-block;
  font-size: 1.2rem;
}

#projects .container .card .card-buttons a:hover {
  color: var(--light-blue);
  transform: scale(1.2);
}

#projects .container .card1 {
  background: url(images/space-invaders.png) center;
}

#projects .container .card2 {
  background: url(images/chat-app.png) center;
} 

#projects .container .card3 {
  background: url(images/rock-paper-scissors.png) center;
}

#projects .container .card4 {
  background: url(images/calc.png) center;
}

#projects .container .card5 {
  background: url(images/tic-tac-toe.png) center;
}

#projects .container .card6 {
  background: url(images/boba-tracks.png) center;
}

/* CONTACT ME */
#contact {
  background: var(--lighter-blue);
}

#contact .contact-me {
  padding-bottom: 3rem;
  text-align: center;
  justify-content: center;
}

#contact .contact-me h2 {
  font-size: 2.5rem;
  position: relative;
  color: var(--text-color);
  letter-spacing: 2px;
  padding-top: 5rem;
  width: 66%;
  margin: 0 auto;
}

#contact .contact-me h2 span {
  color: var(--light-blue);
}

#contact .contact-me p {
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 2rem 0 0.8rem 0;
  max-width: 67%;
  color: #e0e0e0;
  font-weight: lighter;
  line-height: 1.7;
  text-align: center;
}

#contact .contact-me p span {
  color: var(--light-blue)
}


#contact .contact-me .contact-btn {
  white-space: nowrap;
  text-align: center;
}

#contact .contact-me .contact-btn a {
  margin: 1rem 0.5rem;
  display: inline-block;
  text-decoration: none;
  padding: 10px 32px;
  border-radius: 25px;
  font-size: 1rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-weight: lighter;
  letter-spacing: 1px;
}

#contact .contact-me .contact-btn .contact {
  color: var(--text-color);
  border: 2px solid var(--blue);
}

#contact .contact-me .contact-btn .contact:hover {
  background: var(--blue);
  -webkit-box-shadow: 0 0 0 2px #66fcf2;
          box-shadow: 0 0 0 2px #66fcf2;
  color: #fff;
}

/* FOOTER */
.footer {
  min-height: 5rem;
  padding-top: 2rem;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  color: var(--lighter-text);
}

.footer h3 {
  font-size: 0.9rem;
  padding-bottom: 2rem;
  font-weight: lighter;
}

.icon-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  place-items: center;
  min-height: max-content;
  padding-bottom: 1rem;
}

.icon-container a {
  color: var(--lighter-text);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.icon-container a:hover {
  color: var(--light-blue);
  transform: translateY(-10%);
}

/* MEDIA QUERIES */
@media screen and (max-width: 360px) {
    #home .hero h1 {
      font-size: 1.8rem;
    }
    #home .hero #welcome {
      font-size: 0.7rem;
    }
    #home .hero .hero-btn #about-btn {
      padding: 6px 16px;
      font-size: 0.7rem;
    }
    #about #about-me h2 {
      font-size: 1.5rem;
    }
    #about #about-me p {
      font-size: 0.7rem;
    }
    #about .container-about .right-about .resume-btn #view-resume-btn {
        padding: 6px 16px;
        font-size: 0.7rem;
    }
    #projects #header h2 {
      font-size: 1.5rem;
    }
    #projects .container #card {
      -ms-grid-columns: 15rem;
          grid-template-columns: 15rem;
      -ms-grid-rows: 10rem 12rem 3rem;
          grid-template-rows: 10rem 12rem 3rem;
    }
    #projects .container #card .card-text h2 {
      font-size: 1rem;
    }
    #projects .container #card .card-text p {
      font-size: 0.7rem;
    }
    #projects .container #card .card-buttons {
      font-size: 0.8rem;
      padding: 2px 8px;
    }
    #contact .contact-me h2 {
      font-size: 1.5rem;
    }
    #contact .contact-me p {
      font-size: 0.7rem;
    }
    #contact .contact-me .contact-btn #contact-btn {
      padding: 6px 16px;
      font-size: 0.7rem;
    }
}
  
@media screen and (max-width: 420px) {
    #home #hamburger-menu div {
      height: 2.7px;
      margin: 4px;
    }
    #home .logo {
      font-size: 0.9rem;
    }
    #home .hero .welcome {
      font-size: 0.85rem;
    }
    #home .hero .hero-btn .about {
      padding: 8px 24px;
      font-size: 0.8rem;
    }
    #about .container-about .about-me {
      width: 100%;
    }
    #about .container-about .about-me h2 {
      font-size: 1.8rem;
    }
    #about .container-about .about-me p {
      font-size: 0.9rem;
      min-width: 70%;
    }
    #about .container-about .right-about .resume-btn #view-resume-btn {
      padding: 8px 24px;
      font-size: 0.8rem;
    }
    #projects .header h2 {
      font-size: 1.8rem;
    } 
    
    .project-details {
      position: absolute;
      top: 22%;
      left: 19%;
      margin-top: -50px;
      margin-left: -50px;
      text-align: center;
      width: 80%
    }
    #projects .container {
      width: 100%;
    }
    #projects .container .card {
      -ms-grid-columns: 17rem;
          grid-template-columns: 17rem;
      -ms-grid-rows: 12rem 13rem 3rem;
          grid-template-rows: 12rem 13rem 3rem;
    }
    #projects .container .card .card-text h2 {
      font-size: 1.2rem;
    }
    #projects .container .card .card-text p {
      font-size: 0.8rem;
    }
    #projects .container .card .card-buttons {
      font-size: 0.9rem;
      padding: 4px 16px;
    }
    #contact .contact-me {
      width: 100%;
    }
    #contact .contact-me h2 {
      font-size: 1.8rem;
    }
    #contact .contact-me p {
      font-size: 0.9rem;
      min-width: 70%;
    }
    #contact .contact-me .contact-btn .contact {
      padding: 8px 24px;
      font-size: 0.8rem;
    }
}

@media screen and (max-width: 925px) {
    .project {
      margin: 0 auto;
    }
    .project-details {
      position: absolute;
      top: 20%;
      left: 31%;
      margin-top: -50px;
      margin-left: -50px;
      text-align: center;
    } 
    .project-img-container {
      margin: 0 auto;
      height: 100%;
      justify-content: center;
      padding: 20px;
      opacity: 20%;
    }
}
@media screen and (max-width: 735px) {
  .project-details {
    position: absolute;
    top: 20%;
    left: 33%;
    margin-top: -50px;
    margin-left: -50px;
    text-align: center;
  } 
  .project-details .details-container .details-text p {
    font-size: 12px;
  }
  .project-details .details-container .details-text h3 {
    font-size: 30px;
  }
  .project-details .details-container .details-buttons a {
    font-size: 20px;
  }
}
@media screen and (max-width: 1024px) {
    #nav {
      min-height: 8vh;
    }
    #home .fixed {
      background: var(--lighter-blue);
    }
    #about .container-about {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    #about .container-about .about-me {
      width: 100%;
    }
    #about .container-about .about-me h2 {
      width: 70%;
    }
    #about .container-about .about-me h2::after {
      width: 20%;
    }
    #about .container-about .about-me p {
      width: 55%;
    }
    #about .container-about .student-img {
      width: 100%;
      padding: 0 0 2rem 0;
    }
    #about .container-about .student-img img {
      width: 40%;
      height: 40%;
    }
    #about .container-about .right-about .resume-btn {
      padding-bottom: 40px;
    }
    #projects .header h2 {
      width: 70%;
    } 
    #contact .contact-me {
      width: 100%;
    }
    #contact .contact-me h2 {
      width: 70%;
    }
    #contact .contact-me p {
      width: 55%;
    }
}

@media screen and (max-width: 584px) {
  .project-details .details-container .details-text p {
    font-size: 10px;
  }
  .project-details .details-container .details-text h3 {
    font-size: 25px;
  }
  .project-details .details-container .details-buttons a {
    font-size: 16px;
  }
}

@media screen and (max-width: 529px) {
  .project-details {
    position: absolute;
    top: 22%;
    left: 20%;
    margin-top: -50px;
    margin-left: -50px;
    text-align: center;
    width: 80%;
  } 
  .project-details .details-container .details-text .project-description {
    padding: 10px;
  }
  .project-img-container {
    margin: 0 auto;
    justify-content: center;
    padding: 20px;
    opacity: 20%;
  }
}

@media screen and (max-width: 489px) {
  .project-details {
    position: absolute;
    top: 22%;
    left: 21%;
    margin-top: -50px;
    margin-left: -50px;
    text-align: center;
    width: 80%;
  }
}

@media screen and (max-width: 403px) {
  .project-details {
    position: absolute;
    top: 22%;
    left: 18%;
    margin-top: -50px;
    margin-left: -50px;
    text-align: center;
    width: 90%;
  }
  .project-details .details-container .details-text p {
    font-size: 10px;
  }
  .project-details .details-container .details-text h3 {
    font-size: 22px;
  }
  .project-details .details-container .details-buttons a {
    font-size: 15px;
  }
}
@media screen and (max-width: 1024px) {
    .hamburger-menu {
        display: block !important;
    }
    .links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
        -webkit-transition: 0.5s ease-in;
        transition: 0.5s ease-in;
    }
    .links li {
        opacity: 0;
    }
}

/* HAMBURGER ANIMATION */
.nav-active {
    z-index: 1000;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    background: var(--lighter-blue);
}

.toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
}
  
.toggle .line2 {
    opacity: 0;
}
  
.toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
}

@-webkit-keyframes linkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
}
  
@keyframes linkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
}

@-webkit-keyframes nav-links {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
}
  
@keyframes nav-links {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
}