.all-projects {
    padding: 0px 150px 150px 150px;
}

.all-projects button {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: lighter;
    border-radius: 12px;
    border: 1px solid #38429d;
    background: none;
    color: #38429d;
}

.all-projects button:hover {
    color: #fffbf5;
    background-color: #38429d;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.all-projects .title-work {
    margin: 0;
}

.all-projects .intro-desc {
    font-size: 20px;
    font-weight: lighter;
    margin-top: 10px;
    margin-bottom: 40px;
}

.all-projects .intro {
    text-align: center;
}