html {
    scroll-behavior: smooth; 
}

* {
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #fffbf5;
    color: #2a2a2a;
}

footer {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

/* media queries */
@media only screen and (max-width: 992px) {
    .about {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .contact {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 992px) {
    .title, .title-work, .contact-title {
        font-size: 50px;
    }
    .hero h1 {
        font-size: 60px;
    }
}

@media only screen and (max-width: 600px) {
    .girl, .flower {
        width: 250px;
        height: auto;
    }

    .hero img {
        width: 200px;
    }

    .title, .title-work, .contact-title {
        font-size: 40px;
    }

    .hero h1 {
        font-size: 50px;
    }

    .hero p {
        font-size: 18px;
    }

    .about p, li, .contact-words p {
        font-size: 18px !important;
    }

    .position {
        font-size: 20px;
    }

    .company {
        font-size: 18px;
    }

    .skill {
        font-size: 14px;
    }

    .collapsible img {
        height: 12px;
        width: 12px;
    }

    .projects-title a {
        font-size: 14px;
    }

    .all-projects .intro-desc {
        font-size: 18px;
    }

    .github {
        font-size: 16px;
    }

    .more-projects button {
        font-size: 16px;
    }

    .hero, .about, .work, .projects, .all-projects, .contact {
        padding: 50px;
    }

    .navbar {
        margin: 0;
    }

    .logo-nav img {
        width: 40px;
        height: 40px;
    }

    .line {
        height: 2px !important;
        width: 25px !important;
    }
}