.contact {
    display: flex;
    padding: 50px 150px 200px 150px;
    gap: 50px;
}

.flower {
    width: 350px;
    height: auto;
}

.contact-title {
    font-size: 60px;
    margin: 0 0 50px 0;
}

.contact-words p {
    font-size: 23px;
    font-weight: lighter;
    line-height: 30px;
}

.contact-img {
    display: flex;
    align-items: center;
}

.contact a {
    color: #38429d;
}

.contact a:hover {
    color: #38429da7;
}